{% extends "layout.html" %}
{% block content %}

<head>
  <title>Twitter Scraper</title>
</head>

<body>

<h1>Automatically Tweets Finder</h1> <br> <br>

    <h3>Download User's Tweets to Csv file</h3> <br>
    <form action="" method = 'POST'>
        <label>Username</label>
        <input type="text" placeholder="USERNAME" name = "username"> <br><br>
        <label>Tweet Since</label>
        <input type="date" placeholder="2010-01-01" value="2021-06-01" name= "sincetime" > <br><br>
        <label>Tweet Until</label>
        <input type="date" placeholder="2021-12-01" value="2021-06-05"  name= "untiltime"> <br><br>
        <input type="submit" name="btn" value="Process1">
    


    <br><br><br><br>
    <h3> Download Tweets by special keywords to Csv file </h3> <br> 
    <form action="" method = 'POST'>
        <label>keyword</label>
        <input type="text" placeholder="keyword" name = "keyword"> <br><br>
        <label>Tweet Since</label>
        <input type="date" placeholder="2010-01-01" value="2021-06-01" name= "sincetime"> <br><br>
        <label>Tweet Until</label>
        <input type="date" placeholder="2021-12-01" value="2021-06-15" name= "untiltime"> <br><br>
        <input type="submit" name="btn" value="Process2">


    <br><br><br><br>
    <h3>Download User's Tweets to csv file by the Retweet Count </h3> <br> <br>
    <form action="" method = 'POST'>
        <label>Username</label>
        <input type="text" placeholder="USERNAME" name = "username3"> <br><br>
        <label>Retweet Count</label>
        <input type="text" placeholder="retweet Count" name = "retweetcount3"> <br><br>
        <label>Tweet Since</label>
        <input type="date" placeholder="2010-01-01" value="2021-01-01" name= "sincetime" > <br><br>
        <label>Tweet Until</label>
        <input type="date" placeholder="2021-12-01" value="2021-01-02"  name= "untiltime"> <br><br>
        <input type="submit" name="btn" value="Process3">

            
      
<br><br><br><br>
<h3>Download keyword Tweets to csv file by the Retweet Count  </h3> <br> <br>
<form action="" method = 'POST'>
    <label>Keyword</label>
    <input type="text" placeholder="keyword" name = "keyword4"> <br><br>
    <label>Retweet Count</label>
    <input type="text" placeholder="retweet Count" name = "retweetcount4"> <br><br>
    <label>Tweet Since</label>
    <input type="date" placeholder="2010-01-01" value="2005-01-01" name= "sincetime" > <br><br>
    <label>Tweet Until</label>
    <input type="date" placeholder="2021-12-01" value="2030-01-01"  name= "untiltime"> <br><br>
    <input type="submit" name="btn" value="Process4">


</body>
{% endblock content %}