{% extends "layout.html" %}
{% block content %}

    <head>
        <title>Twitter Scraper</title>
    </head>

    <body>
        <h1>Automatically Tweets Finder</h1> <br> <br>
        
        Fastly grow your Twitter audience!
        <li>Automatically Tweets Finder</li>
        <li>Find Trending Tweets</li>
        <li>Find Users Tweets</li>
        <!-- <li>Extract Tweets with specific hashtags #</li>
        <li>Extract with specific cashtag $</li>
        <li>Scrape all the messages of a user</li> -->
        <li>Scrape all tweets containing specif keywords.</li>
        <li>Collect messages that were before YYYY.</li>
        <li>Save to CSV</li>
        <!--
        <li>Scrape messages by verified users</li>
        <li>Scrape a Twitter user's followers.</li>
        <li>Scrape whom a Twitter user follows.</li>
        -->
        <li>Tweets that have favorited by the user</li>


    </body>

{% endblock content %}