{% extends "layout.html" %}
{% block content %}

    <head>
        <title>Twitter Scraper</title>
    </head>

    <body>
        <h1>Automatically Tweets Finder</h1> <br> <br>

        <h3>Get Trending Tweets against the LikeCount</h3> <br> <br>
        <form action="" method = 'POST'>
            <label>Username</label>         <input type="text" placeholder="python code java" name = "keyword" required> <br><br>
            <label>Like Count</label>    <input type="text" placeholder="like Count" value="50" name = "like_count"> <br><br>

            {% for post in post_times %}
                <label>Tweet Since</label>  <input type="date" placeholder={{ post.yesterday }} value={{ post.yesterday }} name= "sincetime" > <br><br>
                <label>Tweet Until</label>  <input type="date" placeholder={{ post.tomorrow }} value={{ post.tomorrow }}  name= "untiltime">   <br><br>
            {% endfor %}
            <input type="submit" value="Find Tweets">
        <form/>

           
       

            {% for post in posts %}
            <label>Username   : <a> {{ post.username }} <a/>  </label> <br>
            <label>Content    : <a> {{ post.content }} <a/>   </label> <br> 
            <label>Date_posted: <a>{{ post.date_posted }}<a/> </label> <br>
            <label>Tweet Url  : <a href= {{ post.url }} > {{ post.url }} <a/>       </label> <br><br><br>
            {% endfor %}

            

    </body>




{% endblock content %}